article, aside, details, figcaption, figure, footer,
header, main, menu, nav, section, summary {
  display: block;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0 none;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

/* header */

header {
    text-align:  center;
    margin-top: 100px;
}

/* search form */

.search {
    float: right;
    width: 450px
    padding: 15px;
}

.search-form {
    overflow: hidden;
}

.search-form span {
    display: inline-block;
    height: 25px;
    padding: 3px 0 3px 420px;
}

.search input {
    width: 400px;
    height: 15px;
}

/* bredcrumbs */

.bredcrumbs {
    padding: 10px;
}

/* main */

.container {
    overflow: hidden;
}

.catalog {
    float: left;
    width: 20%;
}

.catalog li {
    list-style-type: none;
    margin: 0 0 5px 0;
}

.catalog a {
    display: block;
}

.down-menu {
    padding-left: 15px;
}

.content {
    float: right;
    width: 80%;
    font-size: 14px;
}

.item {
    width: 25%;
    height: 100px;
    float: left;
    outline:1px solid black;
    vertical-align: bottom;
    text-align: center;
}

.pagination {
    float: right;
    margin: 5px 0 0 0;
}
