{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>Электронный каталог</title>
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/style.css">
</head>
<body>
    <div class="wrapper">
        <header><h2>Электронный каталог</h2></header>
        <div class="search-form"><p>Поисковая форма</p></div>
        <div class="bredcrumbs">Хлебные крошки</div>
        <div class="container" >
            <div class="catalog">
                <ul>
                    {% block category %}
                    {% endblock %}
                </ul>
            </div>
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>