{% extends "base.html" %}
{% load static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <span>Адресная строка:</span>
    <ul class="marker">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.get_absolute_url }}">{{ breadcrumb.title }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block category %}
    <div class="catalog">
    {{ category_id.title }}
        <ul id="nav" class="menu">
            {% for category in categories %}
                {% include "category.html" %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="content">
        {% if not items %}
            <div><p>Нечего не найдено</p></div>
        {% else %}
            {% for item in items.object_list %}
                <div class="item">
                    <div class="image"><a href="{{ item.get_absolute_url }}"><img width="130" height="110" src="{% get_media_prefix %}{{ item.image|default:item.category.image }}" alt="" /></a></div>
                    <div class="title"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block pagination %}
<div class="pagination">
    <span class="step-links">
        {% if items.has_previous %}
                <a href="?{{ query }}&page={{ items.previous_page_number }}">Назад</a>
        {% endif %}
        <span class="current">
            Страница {{ items.number }} из {{ items.paginator.num_pages }}.
        </span>
        {% if items.has_next %}
                <a href="?{{ query }}&page={{ items.next_page_number }}">Вперед</a>
        {% endif %}
    </span>
</div>
{% endblock %}